<header class="header" id="head">
  <div class="container header-cont">
    <nav class="header-nav">
      <div class="header-box-nav">
        <a href="./index.html" target="_self" title="company logo">
          <svg class="header-logo" width="159" height="68">
            <use href="/img/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#hero" title="Знайди друга"
              >Знайди друга</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#activ" title="Про нас">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#quest" title="Часті запитання"
              >Часті запитання</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedb" title="Історії успіху"
              >Історії успіху</a
            >
          </li>
        </ul>
      </div>
      <a class="frend-li" href="#tails" title="Взяти друга">Взяти друга</a>

      <button
        class="burger-btn"
        type="button"
        role="button"
        id="data-burger-open"
        data-menu-open
      >
        <svg class="burger-icon" width="24" height="24">
          <use href="/img/icons.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <a class="header-button-up" href="#head" data-name="head">Піднятись вверх</a>
  <div class="header-observer"></div>
</header>
