<section class="our-tails" id="tails">
  <div class="container tails-cont">
    <h2 class="tails-title">Наші хвостики</h2>
    <h3 class="tails-sub-title">Вони дуже чекають на знайомство з вами</h3>
    <ul class="tails-button-list">
      <li>
        <button class="tails-select tails-select-active" type="button">
          Всі
        </button>
      </li>
    </ul>
    <ul class="tails-gallery"></ul>
    <div class="tails-loader tails-none"></div>
    <button class="tails-load-more" type="button">Показати більше</button>
    <a class="tails-button-up" href="#tails" data-name="tail">До категорій</a>
    <div class="tails-observer"></div>
  </div>
</section>
