<section class="our-tails" id="tails">
  <div class="container tails-cont">
    <p>our tails</p>
    <svg width="30" height="30">
      <use href="../img/icons.svg#arrow-left"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#arrow-right"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#close"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#facebook"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#instagram"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#logo"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#menu"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#plus"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#star-black"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#star-blank"></use>
    </svg>
    <svg width="30" height="30">
      <use href="../img/icons.svg#star-half"></use>
    </svg>
  </div>
</section>
