.feedback {
  padding: 64px 0;
  background: var(--color-scheme-1-background);
}

.feedback-title {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}

.feedback-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

.feedback-swiper {
  position: relative;
  min-height: 120px;
}

.feedback-description {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;
}

.feedback-author {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.feedback-cont .feedback-controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

#swiper-pagination {
  position: static;
  transform: none;
  margin: 0;
}

.feedback-controls .feedback-navigation {
  display: flex;
  gap: 16px;
}

.feedback-controls .swiper-button-prev,
.feedback-controls .swiper-button-next {
  background: var(--color-scheme-1-foreground);
  border: 1px solid var(--color-mariner-light);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  position: static;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-navigation .feedback-swiper-icon {
  fill: #02060a;
  stroke: #02060a;
}

.feedback .swiper-pagination-bullet {
  background-color: var(--color-scheme-1-text);
  opacity: 0.2;
  width: 8px;
  height: 8px;
}

.feedback .swiper-pagination-bullet-active {
  background-color: var(--color-scheme-1-text);
  opacity: 1;
}

.feedback-controls .swiper-button-prev.swiper-button-disabled,
.feedback-controls .swiper-button-next.swiper-button-disabled {
  background: var(--color-scheme-1-foreground);
  opacity: 0.4;
  border: 1px solid var(--color-scheme-1-background);
}

.feedback-controls .swiper-button-prev:hover,
.feedback-controls .swiper-button-next:hover,
.feedback-controls .swiper-button-prev:focus,
.feedback-controls .swiper-button-next:focus {
  border: 1px solid var(--opacity-neutral-darkest-60);
}

.feedback-controls .swiper-button-prev:active,
.feedback-controls .swiper-button-next:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.hidden {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  user-select: none;
  -webkit-user-drag: none;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: var(--color-scheme-1-text);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.feedback-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback-rating {
  margin-bottom: 32px;
}

.feedback-rating img {
  width: 20px;
  height: 19px;
  display: inline-block;
  color: var(--color-scheme-1-text);
}

@media screen and (min-width: 1440px) {
  .feedback {
    padding: 80px 0;
  }

  .feedback-title {
    font-size: 48px;
  }

  .feedback-text {
    font-size: 18px;
  }

  .feedback-description {
    font-size: 20px;
  }

  .feedback-author {
    font-size: 16px;
  }
}
