.header {
  background: var(--color-scheme-1-background);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.frend-li {
  display: none;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  display: block;
  fill: #0b0803;
}

.nav-link {
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
    outline: none;
}

.nav-link:active {
  color: #ffffff;
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  background: var(--color-mariner-dark);
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-family: "IBM Plex Sans", sans-serif;
}

.btn-link:hover,
.btn-link:focus {
  background-color: #0056b3;
  outline: none;
  transform: translateY(-2px);
}

.btn-link:active {
  background-color: #003f7f;
  transform: translateY(0);
}

@media screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
      gap: 32px;
      margin-left: 24px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-scheme-1-text);
  }

  .frend-li {
    display: flex;
      margin-left: auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;
      width: 130px;
      height: 40px;
      background: var(--color-mariner-dark);
      font-family: "IBM Plex Sans", sans-serif;
      border-radius: 8px;
      padding: 8px 20px;
  }

  .burger-btn {
    display: none;
  }
}