.nav-list {
  display: none;
}

.frend-li {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  display: block;
  fill: #0b0803;
}


@media screen and (min-width: 768px) {
  .nav-list {
    display: none;
  }

}

@media screen and (min-width: 1440px) {
  .nav-list {
      display: flex;
        gap: 32px;
        margin-left: 24px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--color-scheme-1-text);
    }
    .frend-li {
      display: flex;
      margin-left: auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-white);
      width: 130px;
      height: 40px;
      background: var(--color-mariner-dark);
      font-family: "IBM Plex Sans", sans-serif;
      border-radius: 8px;
      padding: 8px 20px;
    }

    .burger-btn {
      display: none;
    }
}