.hero {
  padding-top: 64px;
  padding-bottom: 64px;
  min-height: 544px;
  background-image: linear-gradient(
      to right,
      rgba(62, 54, 38, 0.74) 0%,
      rgba(62, 54, 38, 0) 100%
    ),
    url(../img/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      url(../img/hero/hero-mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      url(../img/hero/hero-tab.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      url(../img/hero/hero-tab@2x.jpg);
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding-top: 128px;
    padding-bottom: 128px;
    min-height: 900px;
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      url(../img/hero/hero-desc.jpg);
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      url(../img/hero/hero-desc@2x.jpg);
  }
}

.hero-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    padding: 0 64px;
  }
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 56px;
    max-width: 622px;
  }
}

.hero-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    font-size: 16px;
    max-width: 512px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-text {
    font-size: 18px;
  }
}

.hero-btn-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  min-width: 171px;
  height: 45px;
  background-color: #88765c;
  border: 1px solid #88765c;
  border-radius: 8px;
  transition: 250ms ease-in-out;
}

.hero-btn-link:hover {
  background-color: #eee9e3;
  color: #02060a;
  border: 1px solid #88765c;
}

.hero-btn-link:focus {
  background-color: #c3b49d;
  color: #02060a;
  border: 1px solid #02060a;
  outline: none;
}

@media only screen and (min-width: 1440px) {
  .hero-btn-link {
    min-width: 189px;
    height: 48px;
  }
}
