.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: var(--color-scheme-1-background);
  transform: translateX(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-header-logo {
  width: 84px;
  padding: 18px 10.5px 18px 11px;
}

.mobile-menu-close {
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.svg-icon-close {
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 64px;
}

.mobile-menu-bloc {
  margin-top: 16px;
}

.mobile-menu-nav {
  margin-top: 24px;
}

.nav-link-exp {
  display: block;
  width: 100%;
  border: 1px solid var(--color-mariner-dark);
  border-radius: 8px;
  padding: 8px 20px;
  width: 335px;
  background: var(--color-mariner-dark);
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.nav-link-exp:focus,
.nav-link-exp:hover {
  outline: none;
  background-color: #eee9e3;
  color: #02060a;
}
.nav-link-exp:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

body.menu-open {
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .mobile-menu-bloc {
    text-align: center;
  }
  .mobile-nav-list {
    margin-bottom: 72px;
  }
  .nav-link-exp {
    margin: 0 auto;
    width: 196px;
  }
}

@media (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
