/*------------------------------------------------------------Mobile-styles*/
.our-tails {
  padding-top: 64px;
  padding-bottom: 32px;
  background-color: var(--color-scheme-1-background);
}
.tails-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
.tails-sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
}
.tails-button-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  row-gap: 12px;
  column-gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.tails-select {
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 16px;
  border-radius: 100px;
  transition: text-decoration 250ms ease-in-out,
    background-color 250ms ease-in-out;
}
.tails-select:hover,
.tails-select:focus {
  text-decoration: underline;
}
.tails-select:active {
  color: var(--color-mariner-dark);
}
.tails-select-active {
  background-color: var(--color-scheme-1-foreground);
}
.tails-gallery {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}
.tails-gallery-item {
  background-color: var(--color-scheme-1-foreground);
  border-radius: 16px;
  padding: 12px;
}
.tails-gallery-img {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}
.tails-gallery-species {
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 4px;
}
.tails-gallery-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 4px;
}
.tails-gallery-categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  padding-bottom: 12px;
  margin-bottom: 4px;
}
.tails-categori-item {
  border-radius: 100px;
  padding: 4px 10px;
  background-color: var(--opacity-neutral-darkest-5);
  font-weight: 600;
  font-size: 10px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
}
.tails-gallery-span-m {
  margin-right: 16px;
}
.tails-gallery-span {
  font-size: 10px;
  line-height: 1.5;
}
.tails-gallery-text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.5;
}
.tails-know-more {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-neutral-darkest);
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.tails-know-more:hover,
.tails-know-more:focus {
  background-color: var(--color-mariner-light);
}
.tails-know-more:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
.tails-load-more {
  border: 1px solid var(--color-mariner-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 335px;
  height: 45px;
  background-color: var(--color-mariner-dark);
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-white);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}
.tails-load-more:hover,
.tails-load-more:focus {
  background-color: var(--color-mariner-lighter);
  color: var(--color-scheme-1-text);
}
.tails-load-more:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
.tails-none {
  display: none;
}

/*----------------------------------------------------------------------------Loader*/
.tails-loader,
.tails-loader:before,
.tails-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.tails-loader {
  color: #000000;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  margin: 0 auto;
}
.tails-loader:before,
.tails-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.tails-loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.tails-loader:after {
  left: 3.5em;
}
@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/*----------------------------------------------------------------------------Loader*/

/*----------------------------------------------------------------------------Tablet*/
@media (min-width: 768px) {
  .tails-button-list {
    gap: 0;
  }
  .tails-select {
    font-weight: 400;
  }
  .tails-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tails-gallery-item {
    width: calc((100% - 32px) / 2);
  }
}

@media (min-width: 1440px) {
  .our-tails {
    padding-top: 80px;
  }
  .tails-title {
    font-size: 48px;
  }
  .tails-sub-title {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .tails-gallery-item {
    width: calc((100% - 64px) / 3);
  }
}
