/*------------------------------------------------------------Mobile-styles*/
.our-tails {
  padding-top: 64px;
  padding-bottom: 32px;
  background-color: var(--color-scheme-1-background);
}
.tails-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}
.tails-sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
}
.tails-button-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.tails-select {
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 16px;
  border-radius: 100px;
  transition: text-decoration 250ms ease-in-out;
}
.tails-select:hover,
.tails-select:focus {
  text-decoration: underline;
}
.tails-select-active {
  background-color: var(--color-scheme-1-foreground);
}
.tails-gallery {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}
.tails-load-more {
  border: 1px solid var(--color-mariner-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 335px;
  height: 45px;
  background-color: var(--color-mariner-dark);
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-white);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}
.tails-load-more:hover,
.tails-load-more:focus {
  background-color: var(--color-mariner-lighter);
  color: var(--color-scheme-1-text);
}
.tails-load-more:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}
