.question-list .ac .ac-header .ac-trigger::after {
  content: url(/img/icons/plus.svg);
}
.question-list > .ac.is-active > .ac-header .ac-trigger::after {
  content: url(/img/icons/close.svg);
}

.question-list .question-item .question-header .question-text {
  font-weight: 400;
  font-size: 40px;
}
