/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./our-tails.css');
@import url('./activity.css');
@import url('./question.css');
@import url('./footer.css');
